<!DOCTYPE html>
<html>
  <head>
    <title>Super</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 offset-sm-4 text-center">
            <img width="165" src="/assets/logo.png" alt="Logo">
          </div>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="container-fluid">
        <p class="text-center">
          <small>Copyright @ 2016 SuperDev</small>
        </p>

        <div class="text-center">
          <a href="/">Sobre</a>
          <span class="text-muted">.</span>
          <a href="/">Contato</a>
          <span class="text-muted">.</span>
          <a href="https://www.facebook.com/superdev.academy" target="_superdev_facebook">
            Facebook
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
